:root {
    --white: white;
    --black: rgb(48, 48, 48);
    --gray: rgb(250, 250, 250);
    --primary: rgb(29, 147, 171);
    --second: rgb(231, 248, 255);
    --hover-color: #f3f3f3;
    --bar-color: rgba(0, 0, 0, 0.1);
    --theme-color: var(--gray);
    --shadow: 50px 50px 100px 10px rgba(0, 0, 0, 0.1);
    --card-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    --border-in-light: 1px solid rgb(222, 222, 222);
    --gray-gray: rgba(0, 0, 0, 0.05);
    --window-width: 90vw;
    --window-height: 90vh;
    --sidebar-width: 0px;
    --window-content-width: calc(100% - var(--sidebar-width));
    --message-max-width: 80%;
    --full-height: 100%;
}

body {
    background-color: var(--gray);
    color: var(--black);
    font-family: Noto Sans SC,SF Pro SC,SF Pro Text,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

/* Header & Footer */

.header, .footer {
    background-color: var(--gray);
    text-align: center;
    padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: var(--black);
    text-decoration: none;
}

.social-icon {
    color: var(--primary);
    margin: 5px;
}

.social-icon:hover {
    background-color: var(--hover-color);
}

.logo, .hero h1, .section-title {
    color: var(--black);
}

/* Buttons */

.sign-button, .role-selection-button, .create-lesson-button, .input-button {
    background-color: var(--primary);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-button:hover, .role-selection-button:hover, .create-lesson-button:hover {
    background-color: var(--hover-color);
}

.input-button:hover {
    background-color: rgba(29, 147, 171, 0.8);
}

/* Common */

.hero, .section {
    background-color: var(--white);
    padding: 15px;
    text-align: center;
}

.input-field {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    margin: 1rem auto;
    border: var(--border-in-light);
    border-radius: 4px;
}

/* Select Role */

.role-selection-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Chat */

.chat {
    display: flex;
    flex-direction: column;
    /* Set the maximum width for the chat container */
    margin: 0 auto; /* Center the chat container */
    /* Add rounded borders */
    /* Add a subtle shadow */
    overflow: hidden; /* Hide any overflowing content */

    border: var(--border-in-light);
    border-radius: 20px;
    box-shadow: var(--shadow);
    color: var(--black);
    background-color: var(--white);
    min-width: 600px;
    min-height: 480px;
    max-width: 900px;
    box-sizing: border-box;
    width: var(--window-width);
    height: var(--window-height);
}

.chat-window {
    width: var(--window-content-width);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
}

.chat-header-title {
    max-width: calc(100% - 100px);
    overflow: hidden;
}

.chat-header-title .chat-header-title-main {
    font-size: 25px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 50vw;
}

.chat-area {
    flex: 1 1;
    overflow: auto;
    padding: 20px;
    position: relative;
}

.message-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.message-container.user {
    align-items: flex-end;
}

.message-container.ai .message-bubble, .message-container.user .message-bubble {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: var(--border-in-light);
    margin-bottom: 0.25rem;
    border-width: 1.5px;
}

.message-container.ai .message-bubble {
    background-color: var(--gray);
    color: var(--black);
    box-shadow: var(--card-shadow);
}

.message-container.user .message-bubble {
    background-color: var(--second);
    color: var(--black);
    box-shadow: var(--card-shadow);
}

.timestamp {
    color: var(--bar-color);
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
}

.input-area {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--border-in-light);
    border-radius: 4px;
    position: relative;
}

.input-field-chat {
    flex-grow: 1;
    height: auto;
    margin-right: 1rem;
    resize: none;
    border: none;
    outline: none;
}

.input-field-chat:focus {
    background-color: rgba(0, 0, 0, 0.03); /* Lighten the background when focused */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.help-button, .input-button {
    padding: 0.3rem 1.5rem; /* Increase the padding for a larger button */
    height: 2.2rem; /* Increase the button height */
    line-height: 1.5rem;
}

.help-button {
    background-color: var(--white);
    color: var(--bar-color);
    border: 1px solid var(--border-in-light);
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.input-button {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--border-in-light);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.loader {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary);
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}